<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MeList.plist
   PeopleListDemo

   Created by 韩雪滢 on 8/28/16.
   Copyright (c) 2016 韩雪滢. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>SherylHan</string>
        <key>major</key>
        <string>2014 CS</string>
        <key>class</key>
        <string>four</string>
        <key>job</key>
        <string>Apple</string>
        <key>city</key>
        <string>NY</string>
    </dict>
</plist>
