<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>SherylHan</string>
		<key>major</key>
		<string>2014 CS</string>
		<key>class</key>
		<string>four</string>
		<key>job</key>
		<string>Apple</string>
		<key>city</key>
		<string>NY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ChenShuang</string>
		<key>major</key>
		<string>2014 eco</string>
		<key>class</key>
		<string>four</string>
		<key>job</key>
		<string>Apple</string>
		<key>city</key>
		<string>NY</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HXY</string>
		<key>major</key>
		<string>2014 CS</string>
		<key>class</key>
		<string>four</string>
		<key>job</key>
		<string>Apple</string>
		<key>city</key>
		<string>NanJing</string>
	</dict>
</array>
</plist>
